In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from oetils.plotting import init_plotting

In [2]:
W = init_plotting(latex=True)

In [3]:
data = pd.DataFrame({
    'm': [80, 125, 240, 200, 140],
    'v': [1667, 945, 851, 819, 1355]
}, list('ABCDE'))
data.m *= 64.8e-6
data.v *= 0.3048
data

          m         v
A  0.005184  508.1016
B  0.008100  288.0360
C  0.015552  259.3848
D  0.012960  249.6312
E  0.009072  413.0040

In [4]:
M = 2
mu = 0.38
d = 0.25
g = 9.81

K = 0.5 * data.m**2 / (data.m + M) * data.v**2
print(f"Max. compression: {K.index[K.argmax()]}")
print(f"Min. compression: {K.index[K.argmin()]}")

k = ((2 * K / d**2) - (2 * mu * (M + data.m) * g / d)).max()
print(f"Necessary k: {k:.2f}")

d = (-mu * (M + data.m) * g + np.sqrt((mu * (M + data.m) * g)**2 + 2*K*k)) / k
print(f"Minimal compression: {d[K.index[K.argmin()]]:.4f}")

Max. compression: C
Min. compression: B
Necessary k: 69.07
Minimal compression: 0.1174